@font-face {
  font-family: Koulen;
  src: url("../fonts/Koulen-Regular.ttf");
}

@keyframes flash {
  0%,
  50%,
  to {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}

body {
  margin: 0;
  padding: 0;
  background-color: #181a1b;
}

.under-dev-box {
  font-size: 3.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.under-dev-box__icon {
  display: inline;
}

.under-dev-box__text {
  color: white;
  font-family: "Koulen";
  margin: 0 1rem;
  animation: flash;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
